<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
           <form class="bg-white p-6 rounded shadow w-80" method="post" action="/login">


    <input type="password" placeholder="Password" class="w-full mb-3 p-2 border rounded">
    <input type="email" placeholder="Email" class="w-full mb-3 p-2 border rounded">
    
    <button type="submit" aria-placeholder="Create User" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Submit</button>
  </form>
    </div>
</body>
</html>