<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <a href="/">Go back to Home</a>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, vero
      ipsam dolorem sunt dolorum distinctio pariatur magni sequi ullam impedit
      eos a, reprehenderit quis in fuga rem nobis voluptas obcaecati?
    </p>
    </div>
  </body>
</html>
